@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}

/* Скрытые элементы */
.visually-hidden {
  visibility: hidden;
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.navigation {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.navigation__main {
  width: 139px;
  height: 71px;
  margin-right: 30px;
}

.navigation-wrapper {
  width: 891px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list-item {
  position: relative;
  cursor: pointer;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-site {
  display: flex;
  flex-wrap: wrap;
  width: 445px;
  gap: 4px;
}

.navigation-user {
  width: 300px;
  justify-content: flex-end;
}

.navigation-user .navigation-list-item:last-child {
  margin-left: 20px;
}

.navigation-list__link {
  display: block;

  color: #000000;
  text-decoration: none;
}

.navigation-site .navigation-list__link {
  padding: 15px 15px;
}

.navigation-site .navigation-list-item .active {
  border-bottom: 2px solid #756257;
}

.navigation-list__link:hover {
  color: #756257;
}

.navigation-list__link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-user .navigation-list__link {
  min-width: 42px;
  min-height: 66px;
}

.navigation-list__button {
  font-family: "PT Sans", sans-serif;

  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  box-sizing: border-box;

  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  border-color: transparent;
  padding: 7px 15px 6px 15px;
  width: 160px;

  cursor: pointer;
}

.navigation-list__button:hover {
  background-color: #615048;
}

.navigation-list__button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.navigation-list__button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/content/header-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: -1;
  margin-top: -6px;

  margin-bottom: 63px;
}

.hero__image {
  display: block;
  margin: 51px auto 21px;
}

.hero__vector {
  position: absolute;
  bottom: 0;
}

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-heading {
  margin: 0 0 31px;

  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0 0 80px;

  text-align: center;
  font-size: 22px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-item {
  min-height: 384px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  text-align: center;
  color: #000000;
}

.advantages-list__img {
  vertical-align: middle;
  object-fit: contain;
}

.advantages-list__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list__image {
  order: -1;
}

.advantages-list__text {
  margin: 0;
}

.bg-blue {
  width: 400px;

  color: #ffffff;
  background-color: #83b3d3;
}

.bg-grey {
  width: 400px;

  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-white {
  width: 400px;

  background-color: rgba(255, 255, 255, 1);
}

.bg-dark-grey {
  width: 400px;

  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-booking {
  padding: 91px 0 93px;
  text-align: center;
}

.hotel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-booking__title {
  margin: 0 0 29px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-booking__text {
  margin: 0 0 56px;

  width: 720px;
  font-size: 22px;
  line-height: 26px;
}

.hotel-booking__search-hotels-button {
  font-family: "PT Sans", sans-serif;

  width: 575px;
  padding: 10px 0;

  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  border-radius: 10px;
  border-color: transparent;

  color: #ffffff;
  background-color: #756257;

  cursor: pointer;
}

.hotel-booking__search-hotels-button:hover {
  background-color: #615048;
}

.hotel-booking__search-hotels-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.hotel-booking__search-hotels-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 141px;
}

.subscription--with-background {
  padding: 94px 0;

  text-align: center;
  color: #ffffff;

  background-image: url("../images/content/subscription-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.6);
}

.subscription__heading {
  margin: 0;
  padding: 0 0 29px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription__text {
  margin: 0;
  padding: 0 0 46px;

  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
}

.subscription-form__email {
  font-family: "PT Sans", sans-serif;

  min-width: 600px;
  min-height: 54px;

  padding: 0 15px 0 22px;

  border-radius: 10px 0 0 10px;
  border-color: transparent;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
}

.subscription-form .error {
  background-color: #ffffff;
  outline: 3px solid #ff5757;
}

.subscription-form__email::placeholder {
  font-family: "PT Sans", sans-serif;
}

.subscription-form__email:hover {
  background-color: #e6e6e6;
}

.subscription-form__email:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscription-form__button {
  font-family: "PT Sans", sans-serif;

  padding: 0;

  min-width: 200px;
  min-height: 60px;

  border-radius: 0 10px 10px 0;
  border-color: transparent;
  color: #ffffff;
  background-color: #83b3d3;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  cursor: pointer;
}

.subscription-form__button:hover {
  background-color: #68a2ca;
}

.subscription-form__button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.subscription-form__button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.main-footer {
  padding: 40px 0 40px;
}

.contacts {
  width: 1056px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-social {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;

  list-style-type: none;
  margin: 0;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

.contacts-social-item {
  display: flex;
  align-items: center;
}

.contacts-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.cotnacts-social__icons {
  color: #83b3d3;
}

.contact-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cotnacts-social__icons:hover {
  color: #68a2ca;
}

.footer-link {
  color: #000000;
  text-decoration: none;
}

.contacts-phone {
  margin: 0;
}

.contacts-item {
  width: 33%;
}

.footer-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #756257;
}

.footer-link:focus {
  border-radius: 10px;
  outline: 3px solid #83b3d3;
}

.footer-link:active {
  opacity: 0.3;
  outline: none;
}

/* catalog */

.main-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: normal;

  color: #000000;
  background-color: #ffffff;
}

.catalog {
  min-height: 408px;
  color: #ffffff;
  background-image: url("../images/content/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  margin-bottom: 44px;
  margin-top: -6px;
}

.catalog-wrapper {
  padding: 35px 0 0;
}

.catalog__heading {
  margin: 0;

  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}

.breadcrumbs {
  margin: 0 0 41px;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  background-image: url("/images/icons/nav-link.svg");

  top: 7px;
  right: -15px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: normal;

  display: block;

  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item__image {
  color: #ffffff;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus {
  color: #ffffff;
  outline: 3px solid #83b3d3;
}

.breadcrumbs__link:active {
  color: #ffffff;
  opacity: 0.3;
}

.catalog-wrapper {
  width: 1057px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-wrapper {
  display: flex;
  gap: 64px;

  margin-right: 167px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter__title {
  margin: 0 0 30px;

  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 13px;
}

.control {
  padding: 0 0 0 39px;
  position: relative;
  display: block;
  align-items: center;
  cursor: pointer;
}

.control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  /* position: absolute;
  appearance: none;
  -webkit-appearance: none; */
}

.control-mark {
  position: absolute;
  display: block;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.checkbox:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 2px solid #83b3d3;
}

.checkbox:checked:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 2px solid #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  height: 2px;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  width: 6px;
  top: 11px;
  left: 4px;
  transform: rotate(50deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  width: 12px;
  top: 9px;
  left: 6px;
  transform: rotate(-45deg);
}

.control-radio-mark {
  position: absolute;
  display: block;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control:hover .control-radio-mark {
  opacity: 1;
}

.radio:focus + .control-radio-mark {
  background-color: rgba(255, 255, 255, 1);
  outline: 2px solid #83b3d3;
}

.radio:checked:focus + .control-radio-mark {
  outline: 2px solid #83b3d3;
}

.radio:checked + .control-radio-mark {
  outline: none;
}

.control-input[type="radio"]:checked + .control-radio-mark::before {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

.catalog-filter-price {
  margin: 0 81px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-price__title {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;

  margin: 0 0 34px;
}

.range-inputs-wrapper {
  margin-bottom: 29px;
}

.range-scale {
  width: 287px;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  left: 0px;
  width: 227px;
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active,
.range-toggle:focus {
  border-radius: 5px;
  outline: 3px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-price__input {
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  line-height: normal;

  background-color: transparent;
  border: 2px solid #fff;
  color: #ffffff;
  width: 144px;
  height: 48px;
}

.catalog-filter-price .input-from {
  padding-left: 17px;
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-price .input-to {
  border-radius: 0px 4px 4px 0px;
  padding-left: 17px;
  border-left: transparent;
  margin-left: -7px;
}

.catalog-filter-price .input-from:hover,
.catalog-filter-price .input-to:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-price .input-from:focus {
  outline: 2px solid #81b3d2;
  border-radius: 0px 0px 0px 3px #81b3d2;
}

.catalog-filter-price .input-from:active {
  border: 2px solid #fff;
  background-color: #756257;
}

.catalog-filter-price .input-to:focus {
  outline: 2px solid #81b3d2;
  border-radius: 0px 0px 0px 3px #81b3d2;
}

.catalog-filter-price .input-to:active {
  border: 2px solid #fff;
  background-color: #756257;
}

.catalog-filter-price__input::-webkit-outer-spin-button,
.catalog-filter-price__input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  margin: 0;
}

.catalog-filter-price__input {
  -moz-appearance: textfield;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 61px;
}

.catalog-filter__accept-button {
  font-family: "PT Sans", sans-serif;

  display: flex;
  width: 160px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  border-color: transparent;

  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  cursor: pointer;
  margin-bottom: 20px;
}

.catalog-filter__accept-button:hover {
  background-color: #68a2ca;
}

.catalog-filter__accept-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.catalog-filter__accept-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.catalog-filter__reset-button {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;

  color: #ffffff;
  border: 0;
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  line-height: normal;

  cursor: pointer;
}
.catalog-filter__reset-button:hover {
  opacity: 0.6;
}

.catalog-filter__reset-button:focus {
  color: #ffffff;
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.catalog-filter__reset-button:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.search-results {
  width: 1057px;
  margin: 0 auto;
}

.search-results-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 53px;
}

.search-results__heading {
  min-width: 338px;
  margin: 0;

  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.search-filter-wrapper {
  display: flex;
  gap: 81px;
}

.search-results-sort {
  font-family: "PT Sans", sans-serif;
  appearance: none;
  background-image: url("/images/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding: 8px 102px 10px 15px;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
  font-size: 18px;
  line-height: normal;
  cursor: pointer;
}

.search-results-sort:hover {
  border: 2px solid #83b3d3;
}

.search-results-sort:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.search-results-sort:active {
  border: 2px solid #e6e6e6;
  opacity: 0.3;
}

.search-results-display-mode {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-view-toggle {
  box-sizing: border-box;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 2px solid rgba(230, 230, 230, 1);
}

.active-view {
  border: 2px solid #000;
}

.card-view-toggle:hover {
  border: 2px solid #83b3d3;
}

.card-view-toggle:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

/* Product-list on grid ========================================================================== */

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-column-gap: 18px;
  grid-row-gap: 10px;

  list-style-type: none;
  margin: 0 0 34px;
  padding: 0;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 20px 140px;
  grid-template-rows: 6fr auto auto 1.08fr auto;
  grid-template-areas:
    "image image image"
    "title title title"
    "type-housing type-housing min-price"
    "details-button details-button favorite-button"
    "stars rating rating";
  grid-row-gap: 16px;
  padding: 20px;
}

.product-card-link {
  grid-area: image;

  text-decoration: none;
  color: #000000;
}

.product-card-title-link {
  grid-area: title;
  text-decoration: none;
  color: #000000;
}

.product-card__type-housing {
  grid-area: type-housing;
  margin: 0;
}

.product-card__min-price {
  grid-area: min-price;
  margin: 0;
}

.product-card__details-button {
  grid-area: details-button;

  min-width: 133px;
  justify-self: start;

  font-family: "PT Sans", sans-serif;

  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  background-color: #756257;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  cursor: pointer;
}

.product-card__details-button:hover {
  background-color: #615048;
}

.product-card__details-button:focus {
  outline: 3px solid #83b3d3;
  background-color: #615048;
}

.product-card__details-button:active {
  opacity: 0.3;
}

.product-card__favorite-button {
  grid-area: favorite-button;

  font-family: "PT Sans", sans-serif;

  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  background-color: #83b3d3;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  cursor: pointer;
}

.product-card__favorite-button:hover {
  background-color: #68a2ca;
}

.product-card__favorite-button:focus {
  outline: 3px solid #756257;
  background-color: #68a2ca;
}

.product-card__favorite-button:active {
  opacity: 0.3;
}

.favorite-active {
  background-color: #7db54f;
}

.favorite-active:hover {
  background-color: #6c9e42;
}

.favorite-active:focus {
  outline: 3px solid #756257;
  background-color: #6c9e42;
}

.favorite-active:active {
  opacity: 0.3;
}

.product-card__stars {
  grid-area: stars;
  align-self: center;
}

.product-card-rating-number-wrapper {
  grid-area: rating;
  grid-row: 5 / -1;
  display: flex;
  min-height: 37px;
  justify-content: center;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
  align-self: stretch;
  align-items: center;
}

.product-card__rating {
  margin: 0;

  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);

  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
}

.product-card__image {
  display: block;
  object-fit: contain;
}

.product-card-link:hover {
  opacity: 0.6;
}

.product-card-link:focus {
  outline: 3px solid #83b3d3;
}

.product-card-link:active {
  opacity: 0.3;
}

.product-card__title {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

/* =============================================================================================== */

.search-results__loadmore-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 29px 0 30px 0;

  border-top: 1px solid rgba(230, 230, 230, 1);
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  margin-bottom: 29px;
}

.search-results__loadmore-button {
  font-family: "PT Sans", sans-serif;

  width: 620px;
  padding: 15px 0;

  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  background-color: #83b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  cursor: pointer;
}

.search-results__loadmore-button:hover {
  background-color: #68a2ca;
}

.search-results__loadmore-button:focus {
  outline: 3px solid #756257;
  background-color: #68a2ca;
}

.search-results__loadmore-button:active {
  opacity: 0.3;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.pagination-item {
  border-radius: 4px;
  background-color: #83b3d3;

  display: flex;
  width: 55px;
  height: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;

  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover {
  border-radius: 4px;
  background-color: #68a2ca;
}

.pagination-link:focus {
  border-radius: 4px;
  border: 3px solid #756257;
  background-color: #68a2ca;

  outline: none;
}

.pagination-link:active {
  background-color: #68a2ca;
  opacity: 0.3;
}

.pagination-current {
  background-color: #f2f2f2;
}

.pagination-current .pagination-link {
  color: #000000;
  border-radius: 4px;
  background-color: #f2f2f2;
  opacity: 1;
}

.hotels-view-wrapper {
  display: flex;
  align-items: center;
  gap: 51px;
}

.hotels-view {
  margin: 0;
}

.hotels-view-number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: normal;

  appearance: none;
  background-image: url("/images/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;

  padding: 12px 121px 13px 15px;
  border: 2px solid #e6e6e6;

  border-radius: 4px;
  cursor: pointer;
}

.hotels-view-number:hover {
  border: 2px solid #83b3d3;
}

.hotels-view-number:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.hotels-view-number:active {
  border: 2px solid #e6e6e6;
  opacity: 0.3;
}

.catalog-subscription {
  padding: 73px 0 141px;
  text-align: center;
  color: #000000;
}

.catalog-subscription__heading {
  padding: 0 0 46px;
}

.catalog-footer {
  padding: 40px 0 40px;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-content {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.modal-housing-search {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 54px;
  height: 54px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("/images/icons/modal-close-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;

  margin: 0 0 19px 0;
}

.housing-search-form {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.modal-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}

.field-group {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 0;
}

.type-guests {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.type-guests-adults {
  display: flex;
  margin: 0 92px 0 0;
}

.type-guests-childrens {
  display: flex;
  align-items: center;
  margin: 0;
}

.number-input[type="number"] {
  display: block;
  width: 133px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.number-input {
  -moz-appearance: textfield;
}

.number-minus {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 22px;
  height: 22px;
  text-align: center;
  border: none;
  background-color: transparent;
  background-image: url("/images/icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.number-minus:hover {
  opacity: 1;
}
.number-minus:focus {
  opacity: 1;

  background-repeat: no-repeat;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}
.number-minus:active {
  background-repeat: no-repeat;
  outline: none;
  opacity: 0.2;
}
.number-plus {
  position: absolute;
  top: 15px;
  right: -20px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("/images/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.number-plus:hover {
  opacity: 1;
}
.number-plus:focus {
  background-repeat: no-repeat;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  opacity: 1;
}
.number-plus:active {
  background-repeat: no-repeat;
  outline: none;
  opacity: 0.2;
}

.field {
  width: 420px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  padding: 15px 19px;

  border: none;
  border-radius: 4px;
  outline: none;

  box-sizing: border-box;
}

.field::-webkit-calendar-picker-indicator {
  color: transparent;
  background-image: url("/images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.amount-field {
  width: 133px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding: 4px;

  text-align: center;
  border: none;
  border-radius: 4px;

  background-color: #f2f2f2;
  box-sizing: border-box;
}

.number-container {
  display: inline-block;
  position: relative;
  width: 100px;
}

.adults-value {
  margin-right: 74px;
}

.childrens-value {
  margin-right: 8px;
}

.input-wrapper {
  display: inline-block;
}

.modal-submit-btn {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
  border: none;

  padding: 10px 0;
}

.amount-field::-webkit-outer-spin-button,
.amount-field::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.invalid-text {
  top: 50px;
  left: 155px;
  position: absolute;
  color: rgba(255, 87, 87, 1);
  font-size: 16px;
  line-height: 29px;
}

.valid-text {
  top: 50px;
  left: 155px;
  position: absolute;
  font-size: 16px;
  line-height: 29px;
}

.tooltip-toggle {
  margin-right: 18px;

  background-color: white;
  border: none;
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  border-radius: 50%;
  color: #ffffff;
}

.tooltip-text {
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  padding: 21px 18px 18px 22px;
  align-items: center;
  width: 256px;
  height: 143px;
  position: absolute;
  z-index: 1;
  left: 353px;
  bottom: 24px;
  display: none;
}

.type-guests-childrens .tooltip:hover .tooltip-text,
.type-guests-childrens .tooltip:focus .tooltip-text {
  display: flex;
}
